name: Build

on:
  push:
    branches:
      - develop
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

  # The branches below must be a subset of the branches above
  pull_request:
    branches:
      - develop
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test package distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python 3.12
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions build

      - name: Check MANIFEST.in for completeness
        run: tox -e manifest

      - name: Build and test package
        run: tox -e build

      - name: Archive build artifacts
        if: success()
        uses: actions/upload-artifact@v6
        with:
          # To ensure that jobs don't overwrite existing artifacts,
          # use a different name per job.
          name: build-${{ matrix.os }}
          path: .tox/build/tmp/build
          # Artifacts are retained for 90 days by default.
          # In fact, we don't need such long period.
          retention-days: 60

  install-dev:
    name: Verify dev environment
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python 3.12
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.12'

      - name: Install in dev mode
        run: python -m pip install -e .

      - name: Import package
        run: python -c 'import environ; print(environ.__version__)'
